<table>
  <tr><td><%= @url.original %></td></tr>
  <tr><td><a href="<%= @url.original %>">localhost:9393/<%= @url.shortened %></a></td></tr>
  <tr><td><button name="delete" value="delete">Delete</button></td></tr>
</table>
