<div class="container">
  <h2>Sign Up</h2>
  <form action="/users" method="post">
    Name:<input type="text" name="name">
    Email:<input type="text" name="email">
    Password:<input type="text" name="password">
    <input type="submit" value="Sign Up">
  </form>
</div>

